*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: 1px solid red;
}
:root {
  --text-Color: rgb(236, 236, 236);
  --main-Primary: Rebeccapurple;
  --main-Background: rgb(50, 50, 50);
  --secondary-Background: rgb(160, 160, 160);
}
html {
  height: 100dvh;
}
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
  background-color: var(--main-Background);
}
.mainHeader {
  background-color: var(--main-Primary);
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBody {
  color: var(--text-Color);
  width: 100%;
  height: 82%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 3%;
}
.mainFooter {
  position: relative;
  display: flex;

  height: 9%;
  width: 100%;
  background-color: var(--main-Primary);
  margin-top: auto;
}
.navIcons {
  background-color: var(--main-Primary);
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.navIcons img {
  object-fit: contain;
  width: auto;
  height: 60%;
}
h1 {
  padding: 1%;
}
.flexWrap {
  display: flex;
  padding-top: 3%;
  padding-left: 2%;
  gap: 3%;
  justify-content: flex-start;
  min-width: 100%;
  height: auto;
  flex-wrap: wrap;
  row-gap: 10px;
}
.flexCard {
  object-fit: fill;
  border-radius: 8px;
  background-color: var(--secondary-Background);
  max-width: 30%;
  min-width: 30%;
  width: auto;
  min-height: 15%;
  /* height: 26%; */
}
/* .flexCard img {
  border-radius: 8px;
  background-color: var(--secondary-Background);
  min-width: 100%;
  height: 30%;
} */

.carouselContainer {
  position: relative;
  overflow-x: scroll;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  align-items: center;
  gap: 3%;
  min-width: 100%;
  min-height: 30%;
}
.featuredCard {
  border-radius: 8px;
  background-color: var(--secondary-Background);
  min-width: 75%;
  height: 100%;
}
.movieCard {
  object-fit: contain;
  border-radius: 8px;
  background-color: var(--secondary-Background);
  min-width: auto;
  height: 100%;
}

.searchBar {
  height: 40%;
  width: auto;
}
.searchButton {
  height: 40%;
  width: 12%;
}
