/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* styles.css */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: 1px solid red;
}
:root {
  --text-Color: rgb(236, 236, 236);
  --main-Primary: Rebeccapurple;
  --main-Background: rgb(50, 50, 50);
  --secondary-Background: rgb(160, 160, 160);
}
html {
  height: 100svh;
}
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
  background-color: var(--main-Background);
}
.mainHeader {
  background-color: var(--main-Primary);
  width: 100%;
  height: 9%;
}
.mainBody {
  color: var(--text-Color);
  width: 100%;
  height: 82%;
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  /* gap: 1%; */
  overflow-y: scroll;
  padding-bottom: 4%;
  /* padding-top: 2%; */
}
.mainFooter {
  position: sticky;
  height: 9%;
  width: 100%;
  background-color: var(--main-Primary);
  bottom: 0%;
}
h1 {
  padding: 1%;
}
.carouselContainer {
  position: relative;
  overflow-x: scroll;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  align-items: center;
  gap: 3%;
  min-width: 100%;
  min-height: 30%;
}
.featuredCard {
  border-radius: 8px;
  background-color: var(--secondary-Background);
  min-width: 75%;
  height: 100%;
}
.movieCard {
  border-radius: 8px;
  background-color: var(--secondary-Background);
  min-width: 35%;
  min-height: 100%;
}
