/* styles.css */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: 1px solid red;
}
:root {
  --main-Background: black;
  --main-Secondary: Rebeccapurple;
}

:root.light {
  --main-Background: white;
  --main-Secondary: black;
}
:root.dark {
  --main-Background: black;
  --main-Secondary: white;
}
html {
  height: 100svh;
}
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
  background-color: yellow;
}
.mainHeader {
  background-color: var(--main-Secondary);
  width: 100%;
  height: 9%;
}
.mainBody {
  background-color: grey;
  width: 100%;
  height: 82%;
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  /* gap: 1%; */
  overflow-y: scroll;
  padding-bottom: 4%;
  /* padding-top: 2%; */
}
.mainFooter {
  position: sticky;
  height: 9%;
  width: 100%;
  background-color: pink;
  bottom: 0%;
}
h1 {
  padding: 1%;
}
.carouselContainer {
  position: relative;
  overflow-x: scroll;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 3%;
  /* background-color: var(--main-Secondary); */
  min-width: 100%;
  min-height: 30%;
}
/* .arrow {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}
.left-arrow {
  left: 10px;
}
.right-arrow {
  right: 10px;
} */
.featuredCard {
  border-radius: 8px;
  background-color: var(--main-Background);
  min-width: 75%;
  height: 100%;
}
.movieCard {
  border-radius: 8px;
  background-color: var(--main-Background);
  min-width: 35%;
  height: 100%;
}
